<div class="list-theme">
  <div class="list-container" data-bind="foreach: builds">
    <div class="list-item" data-bind="{ animateCss: style }">
      <div class="part-1">
        <span data-bind="visible: definition">
          <span data-bind="text: definition"></span>
        </span>
         <span data-bind="visible: branchName">
             <span> | </span>
          <span data-bind="text: branchName"></span>
         </span>
      </div>
      <div class="part-2">
        <span class="fa fa-user"></span>
        <span> </span>
        <span data-bind="text: requestedFor"></span>
      </div>
      <div class="part-3">
        <span class="fa fa-clock-o"></span>
        <span> </span>
        <span data-bind="text: time"></span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>